[submodule "deps/parallel_decorators"]
	path = deps/parallel_decorators
	url = https://github.com/ohlmann/parallel_decorators.git
[submodule "deps/mptp"]
	path = deps/mptp
	url = https://github.com/Pas-Kapli/mptp.git
[submodule "deps/raxml-ng"]
	path = deps/raxml-ng
	url = https://github.com/amkozlov/raxml-ng.git
[submodule "deps/genesis"]
	path = deps/genesis
	url = https://github.com/lczech/genesis.git
[submodule "deps/ParGenes"]
	path = deps/ParGenes
	url = git@github.com:BenoitMorel/ParGenes.git
